// Not currently used, using adobe fonts instead

@font-face {
    font-family: 'Neue Haas Unica W1G';
    src: url('~assets/fonts/NeueHaasUnicaW1G/NeueHaasUnicaW1G-Bold.woff2') format('woff2'),
        url('~assets/fonts/NeueHaasUnicaW1G/NeueHaasUnicaW1G-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Neue Haas Unica W1G';
    src: url('~assets/fonts/NeueHaasUnicaW1G/NeueHaasUnicaW1G-Regular.woff2') format('woff2'),
        url('~assets/fonts/NeueHaasUnicaW1G/NeueHaasUnicaW1G-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Nimbus Sans";
    src: url("~assets/fonts/NimbusSansL/nimbussans-bold.woff2") format("woff2"),
        url("~assets/fonts/NimbusSansL/nimbussans-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Nimbus Sans";
    src: url("~assets/fonts/NimbusSansL/nimbussans-regular.woff2") format("woff2"),
        url("~assets/fonts/NimbusSansL/nimbussans-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
