$colourDark: #5c5c5c;
// $colourMedium: #ededed;
// $colourLight: #FAFAFA;

$container-padding: 50px;
$container-mobile-padding: $container-padding - 10;
// Height of the sticky white nav below the desktop layout
$nav-height-mobile: 105px;
