.meta-logo-section {
    display: flex;
    justify-content: center;
    svg.meta-logo-svg {
        display: block;
        overflow: visible;
        width: 100%;
        height: 100%;
        max-width: map-get($breakpoints, phone) - ($container-padding * 2);

        path {
            fill: black;
            stroke: none;
        }
    }

    video {
        display: block;
        width: 100%;
        height: 100%;
        max-width: map-get($breakpoints, phone) - ($container-padding * 2);
    }
}
