html {
    font-family: neue-haas-unica, sans-serif;
}

h1 {
    // font-family: 'Neue Haas Unica W1G';
    letter-spacing: -0.04em;
}

a {
    text-decoration: none;
    color: black;
}

ul, ol {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}